	<div class="bg-white border-t border-gray-200 bottom-0 fixed w-full" id="cookies-eu-banner" style="display: none;">
	<div class="max-w-screen-xl mx-auto py-2 px-3 sm:px-6 lg:px-8">
	  <div class="text-center sm:px-16">
	    <p class="font-medium text-gray-600">
	      <span class="md:hidden">
	        We use cookies to improve your browsing experience.
	      </span>
	      <span class="hidden md:inline">
	        By continuing to visit this site, you accept the <a href="/terms" class="text-gray-600 underline" id="cookies-eu-more">use of cookies</a> for statistical purposes.
	      </span>
		  <span class="block md:inline-block">
			<button class="text-red-500 font-bold underline ml-4" id="cookies-eu-reject">
				Reject
			</button>
			<button class="ml-2 text-green-500 font-bold underline" id="cookies-eu-accept">
				Accept
			</button>
		  </span>
	    </p>
	  </div>
	</div>
</div>
