// @import "bootstrap-sprockets";
// @import "bootstrap";
@import './bootstrap_custom.scss';
/* universal */
body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }



h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* forms */
  @mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }
  
  input, textarea, select, .uneditable-input {
    border: 2px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: 40px;
  }

/* debug */ 
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* errors */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
